# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Karlitos\Dropbox\Mon PC (DESKTOP-2BD974J)\Desktop\Important\Alternance\UTEC\Project\PPE3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
